.pagination {
    margin: 0 auto;
    padding-bottom: 2em;
    width: 100%;
    text-align: center;

}

.pagination ul {
    display: inline-block;
}

.pagination ul li {
    display: inline;
    border: 1px solid green;
    padding: .4em;
    background-color: var(--second-background-color);
}

.pagination ul li * {
    color: var(--text-title-color);
}

.pagination ul li:not(.disabled):not(.active):hover {
    background-color: var(--secondary-color);
}

.pagination ul li.disabled {
    background-color: var(--background-disabled);
    pointer-events: none;
    cursor: default;
}

.pagination ul li.disabled * {
    color: var(--text-disabled);
}

.pagination ul li.active {
    background-color: var(--secondary-color);
}