.container_login {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 2em 4em;
}

.container_login h2 {
    text-align: left;
    padding: 1.5em .5em 0;
    font-size: 1.7em;
}

.login {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.img {
    text-align: center;
}

.img img {
    background-color: rgb(224, 233, 222);
    border-radius: 60%;
    height: 180px;
}

.login > input[type="text"], .login input[type="password"] {
    height: 2.5em;
    border-bottom: 1px solid white;
    border-radius: .3em;
    padding: .2em .7em;
    font-style: italic;
    font-size: 1em;
    cursor: pointer;
}

.error {
    font-size: 1em;
    color: rgb(202, 11, 11);
    padding: 0;
}



@media (max-width: 1200px) {
    .container_login {
        padding: 1em 3em;
        width: 90%;
    }
}


@media (max-width: 992px) {
    .container_login {
        padding: 1em 3em;
        width: 85%;
    }
}

@media (max-width : 768px) {
    .container_login {
        padding: 1em 1em;
        width: 90%;
    }

}
