.container_login {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 2em 4em;
}

.container_login h2 {
    text-align: left;
    padding: 1em .5em 0;
    font-size: 1.7em;
}

.login {
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login input[type="text"],
.login input[type="password"] {
    background-color: var(--background-input-color);
}

.img {
    text-align: center;
}

.img img {
    background-color: rgb(224, 233, 222);
    border-radius: 60%;
    height: 150px;
}

.login > input[type="text"], .login input[type="password"], select {
    height: 2.2em;
    border-bottom: 1px solid white;
    border-radius: .3em;
    padding: .2em .7em;
    font-style: italic;
    font-size: 1em;
    cursor: pointer;
}

.error {
    font-size: 1em;
    color: rgb(202, 11, 11);
    padding: 0;
}

.roles {
    display: flex;
    flex-direction: row;
    padding-bottom: .4em;
    justify-content: center;
}

.roles_itens {
    border: 1px solid black;
    border-radius: .3em;
    width: 35%;
    text-align: center;
    cursor: pointer;
    padding: .2em .1em;
    background-color: rgb(151, 151, 151);
}

.roles_itens:first-child {
    border-right:  none;
    border-radius: .3em 0 0 .3em;
}

.roles_itens:last-child {
    border-radius: 0 .3em .3em 0;
}

.roles_itens__active {
    background-color: green;
}


@media (max-width: 1200px) {
    .container_login {
        padding: 1em 3em;
        width: 90%;
    }
}


@media (max-width: 992px) {
    .container_login {
        padding: 1em 3em;
        width: 85%;
    }
}

@media (max-width : 768px) {
    .container_login {
        padding: 1em 1em;
        width: 90%;
    }

}
