.button {
    border: none;
    border-radius: .2em;
    cursor: pointer;
    background-color: rgb(227, 227, 227);
    transition: all .5s;
}

.button:not(.button_pagination) {
    width: 2.5em;
    height: 2.5em;
}

.button_group {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin: auto;
    padding-top: 2em;
    justify-content: center;
}

.button_input {
    width: 14em;
    height: 2.5em;
    border-radius: .5em;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
}

.button_pagination {
    background-color: transparent;
    font-size: 1em;
    padding: .1em .2em;
}

.button_confirm {
    background-color: rgb(17, 180, 101);
}

.button_cancel {
    background-color: rgb(114, 132, 114);
}

.button_back {
    background-color: #3cbc46;
}

.button_back:hover {
    background-color: #34a03d;
}

.button:hover {
    background-color: rgb(208, 208, 208);
}

.button_pagination:hover {
    background-color: transparent;
}

@media (max-width : 768px) {

    .button_group {
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }
}