:root {
    /* Theme Dark (default) */
    --primary-color: rgba(27, 197, 58, 0.859);
    --secondary-color: #016909;
    --background-color: #161616eb;
    --second-background-color: rgb(52, 54, 51);

    --placeholder-color: #1f1f1f;
    --background-input-color: rgb(197, 197, 197);

    --text-color: rgb(204, 204, 204);
    --text-title-color: rgb(232, 231, 231);

    --text-disabled: rgb(125, 125, 125);
    --background-disabled: rgb(30, 30, 30);

    --background-theme-active: #033908;
    --background-theme-inactive: rgba(181, 181, 181, 0.637);

}

/* Theme light */
body.light-theme {
    --primary-color: rgb(47, 190, 37);
    --secondary-color: #189322;
    --background-color: #dce3db;
    --second-background-color: #bdcbba;

    --placeholder-color: #0c4406;
    --background-input-color: #ededed;

    --text-color: rgb(16, 92, 1);
    --second-text-color: rgb(236, 236, 236);
    --text-title-color: rgb(11, 59, 1);

    --text-disabled: rgb(75, 75, 75);
    --background-disabled: rgb(192, 188, 188);

    --background-theme-active: #f8f8f8;

}

body.halloween-theme {
    --primary-color: #ff4500;
    --secondary-color: #5d2b00;
    --background-color: #1a0a00;
    --text-color: #ffa500;
}