.container_main {
    padding: 2em 7em;
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search_input {
    position: relative;
}

.search_input input {
    height: 3em;
    width: 22em;
    border-radius: .7em;
    padding: .5em .7em;
}

.search_input__icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}


@media (max-width : 768px) {
    .container_main {
        padding: 1em 1em;
        width: 90%;
    }

    .header {
        flex-direction: column;
        gap: 2em;
    }

}

@media (max-width: 992px) {
    .container_main {
        padding: 1em 3em;
        width: 85%;
    }
}

@media (max-width: 1200px) {
    .container_main {
        padding: 1em 3em;
        width: 90%;
    }
}