.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_caption {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



.container_table{
    height: 90%;
}

@media (max-width: 1200px) {
    .container_main {
        padding: 1em 3em;
        width: 90%;
    }
}

@media (max-width: 992px) {
    .container_main {
        padding: 1em 3em;
        width: 85%;
    }
}

@media (max-width : 768px) {
    .container_main {
        padding: 1em 1em;
        width: 90%;
        text-align: center;
    }

    .header {
        flex-direction: column;
        gap: 2em;
    }

}