.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_caption {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container_table{
    height: 90%;
}

@media (max-width : 768px) {

    .header {
        flex-direction: column;
        gap: 2em;
    }

}