.header_details {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--text-title-color);
}

.container_info {
    width: 60%;
    margin: 0 auto;
    color: var(--text-color);
}

.container_info_title {
    display: flex;
    justify-content: space-between;
}

.form_row {
    border: 1px solid green;
    border-radius: .3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .8em;
    height: 2.5em;
    padding-left: .6em;
    position: relative;
}   


.form_row input:focus {
    outline: none;
}

.container_info_row {
    display: flex;
    width: 50%;
    height: 100%;
}

.container_info_row input {
    width: 100%;
    padding: .2em .7em;
    border-radius: .3em;
    border: none;
    background-color: var(--background-input-color);
    color: var(--placeholder-color);
}

.container_info_row input:disabled {
    color: var(--text-disabled);
    background-color: var(--background-disabled);
}

.form_row .generate_code {
    position: absolute;
    top: 105%;
    font-size: .9rem;
    cursor: pointer;
}


@media (max-width : 768px) {
    .container_info {
        width: 95%;
    }

     .container_info h3 {
        font-size: .9rem;
        text-align: left;
    }

    .container_info p:last-of-type {
        font-size: .9rem;
    }

    .form_row {
        margin-bottom: .5rem;
    }

    .form_row label {
        font-size: .8rem;
        text-align: left;
    }
}
