.container_checkbox {
    width: .9rem;
    height: .9rem;
    padding: .1rem;
    background-color: whitesmoke;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_checkbox * {
    color:  rgb(10, 47, 1) !important;
}

.centralized {
    margin: 0 auto;
}