.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.576);
}

.modal_content {
    margin: 5% auto;
    height: 80%;
    width: 65%;
    background-color: var(--second-background-color);
}

.modal_content_minor {
    margin: 5% auto;
    height: 50%;
    width: 55%;
    background-color: var(--second-background-color);
}

.modal_content_header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 1em;
    background-color: var(--secondary-color);
    text-align: center;
}

.modal_content_header * {
    color: var(--text-title-color);
}

.modal_content_header_text {
    text-align: center;
    grid-column: 2;
}

.modal_content_text {
    padding-top: 1em;
}

.actions_buttons {
    display: flex;
    gap: .5rem;
    justify-content: end;
}

.medication_form {
    width: 85%;
    margin: 0 auto;
    padding: 1em;
}

.form_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    border: 1px solid green;
    border-radius: .4em;
    padding-left: .4em;
    min-height: 2.45em;
    color: var(--text-color);
}

.form_row label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input_group {
    display: flex;
    width: 50%;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: .4em;
    padding: .3em;
    min-height: 40px;
}

.input_group input,
.input_group select,
.input_group input::placeholder {
    color: var(--text-color);
}

.input_group.disabled {
    background-color: #46704ac8;
}

.input_group input[type="checkbox"] {
    height: 1.25em;
    width: 1.25em;
}

.input_group input[type="text"],
.input_group input[type="number"],
.input_group input[type="datetime-local"],
.input_group input[type="date"],
.input_group select {
    border: none;
    background-color: transparent;
    font-style: italic;
    width: 100%;
    padding: .3em;
    font-size: 1.1rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus {
    outline: none;
}

.input_group select {
    max-height: 40px;
}

.input_group select option {
    font-size: 1em;
    color: gray;
}

.input_group select option::selection {
    background-color: rgb(52, 83, 38);
}

.unit {
    margin-left: .3em;
    font-size: 1.2em;
}

.disabled {
    font-style: italic;
}

input:not([disabled]) {
    cursor: pointer;
}


@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .modal_content_minor {
        width: 75%;
    }
}

@media (max-width : 768px) {
    .modal_content,
    .modal_content_minor {
        width: 90%;
    }

    .medication_form {
        width: 100%;
        margin: 0 auto;
        padding: 1em .5em;
    }

    .form_row * {
        font-size: .8rem;
    }

    .input_group {
        width: 57%;
    }

}