.medicines h3,
.medicines p {
    color: var(--text-title-color);
}

.footer_medicines {
    padding-top: .8em;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_flex {
    display: flex;
    justify-content: space-between;
}

.header_medicines {
    width: 70%;
    margin: 0 auto;
}

.footer_medicines {
    gap: 1em;
    padding: .5em 0 3em 0;
}

.container_table {
    overflow-x: auto;
    max-height: 25.5em;
}


@media (max-width : 768px) {

    .container_flex h3{
        text-align: left;
        font-size: 1rem;
    }

    .header_medicines {
        width: 95%;
    }
}