.search_input {
    position: relative;
}

.search_input input {
    height: 3em;
    width: 100%;
    border-radius: .7em;
    padding: .5em .7em;
}

.search_input__icon {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
