.container_menu {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: var(--secondary-color);
    left: 0;
    top: 3.2em;
    z-index: 2;
    padding: .5em 1.1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 .5em .5em 0;
}

.container_menu * {
    color: var(--text-title-color);
}

.container_menu ul li {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding: .5em .2em;
    border-bottom: 1px solid rgb(220, 220, 220);
    font-size: 1.1em;
}

.container_menu ul li * {
    color: var(--text-title-color);
}

.container_menu ul li:hover {
    font-weight: bold;
    color: #ffffff;
}