.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 3.5em;
    padding: .5em 5em;
}

.navbar * {
    color: var(--text-title-color);
}

.navbar span {
    font-size: 1.1em;
}

.navbar__itens {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.navbar__itens a {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
    position: relative;
}

.navbar__itens a:hover,
.navbar button:hover {
    color: var(--text-title-color);
    transform: scale(1.05);
}

.navbar button {
    background: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

@media (max-width : 768px) {
    #navbar {
        display: none;
    }
}