.navbar {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 3.2em;
    padding: 1em;
}

.navbar * {
    color: var(--text-title-color)
}

.navbar span {
    font-size: 1.1em;
}

.navbar button {
    background: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

@media (max-width : 768px) {
    #navbar_phone {
        display: flex;
    }
}