.caption_filter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .3em;
    width: 100%;
}

.caption_filter_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    cursor: pointer;
}

.control_accordion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clean_filters {
    display: flex;
    align-items: center;
    font-size: .9em;
    color: rgb(208, 42, 42);
}

.container_accordion {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 90%;
    border: 1px solid green;
    border-radius: .3em;
    background-color: rgba(68, 74, 67, 0.726);
    padding: .4em;
}

.accordion_filters {
    display: flex;
    flex-direction: column;
    gap: .2em;
    padding-bottom: .4em;
}

.accordion_filters_itens,
.accordion_filters_itens_caption {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.accordion_filters_itens input {
    background-color: rgb(93, 93, 93);
    margin-left: .2em;
}

.itens_caption {
    cursor: pointer;
    min-width: 5em;
    background-color: rgb(105, 112, 96);
    text-align: center;
    font-size: .9em;
    border-radius: .2em;
    padding: .4em .4em;
}

.active {
    background-color: rgb(97, 182, 81);
}

.button_filter {
    padding: .4rem .7rem;
    border-radius: .2rem;
    margin-top: .5rem;
    width: 10rem;
    align-self: center;
    background-color: green;
    border: none;
}

@media (max-width : 768px) {
   
    .container_accordion {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .5rem;
    }

    .accordion_filters_itens {
        flex-direction: column;
        text-align: left;
    }

    .accordion_filters_itens div {
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
    }
   
    .accordion_filters_itens_caption {
        flex-direction: row;
    }

    .accordion_filters_itens div input {
        width: 70%;
    }

}