.table {
    width: 100%;
    border-spacing: 0 1em;
}

.table thead tr th:first-child {
    border-top-left-radius: .5em;
}


.table thead tr th:last-child {
    border-top-right-radius: .5em;
}

.table th, td {
    padding: .5em .8em;
    text-align: left;
}

.table th:not(:first-child):not(:last-child),
.table td:not(:first-child):not(:last-child) {
    text-align: center;
}

.table th:last-child,
.table td:last-child {
    text-align: right;
}

.table td {
    background-color: #1c8a25;
}

.table th {
    background-color: #0a5810;
}