#root {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

.container_main {
  padding: 2em 7em;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}

@media (max-width: 1200px) {
    .container_main {
        padding: 1em 3em;
        width: 90%;
    }
}

@media (max-width: 992px) {
    .container_main {
        padding: 1em 3em;
        width: 85%;
    }
}

@media (max-width : 768px) {
    .container_main {
        padding: .8em .3em;
        width: 90%;
        text-align: center;
        gap: .8em;
    }

}